#ifndef SECRETS_H
#define SECRETS_H

// Substitua pelas credenciais da sua rede Wi-Fi local
#define WIFI_SSID "NOME_DA_REDE"
#define WIFI_PASSWORD "SENHA_DA_REDE"

// Caso utilize autenticacao corporativa/academica (WPA2-Enterprise)
#define EAP_IDENTITY "seu_usuario"
#define EAP_USERNAME "seu_usuario"
#define EAP_PASSWORD "sua_senha"

#endif
